<!doctype html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="myCtrl">
<input type="text" ng-model="query">
<table class="table table-bordered table-hover">
    <tr class="text-success">
       <th>姓名</th>
       <th >数学</th>
       <th >语文</th>
       <th >英语</th>
    </tr>
    <!--100   <span style="color:red">1</span>00-->
    <!--根据某一项中的math属性进行排序  是否倒序-->
    <tr ng-repeat="arr in arrs">
        <td>{{arr.name}}</td>
        <td>{{arr.math | colorRed:query}}</td>
        <td>{{arr.chinese | colorRed:query}}</td>
        <td>{{arr.english | colorRed:query}}</td>
    </tr>
</table>
<div ng-bind-html="str"></div>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.filter('colorRed',function () {
        return function (input,query) {//(100  0  => 1<span>0</span>0)
            if(typeof query != 'undefined'){
                var reg = new RegExp(query,'g');
                return input.toString().replace(reg,function () {
                    return `<span style="color:red">${arguments[0]}</span>`
                });
            }else{
                return input;
            }
        }
    })
    app.controller('myCtrl',['$scope','$sce',function ($scope,$sce) {
        $scope.arrs = [{name:'张三',chinese:100,math:90,english:66},{name:'李四',chinese:65,math:78,english:88},{name:'王五',chinese:20,math:80,english:34},{name:'赵六',chinese:30,math:100,english:108}];
        $scope.str = $sce.trustAsHtml('<h1>hello</h1>');
    }]);
</script>
</body>
</html>